EXPO_PUBLIC_APPWRITE_ENDPOINT=https://nyc.cloud.appwrite.io/v1
EXPO_PUBLIC_APPWRITE_PROJECT_ID=your-project-id
EXPO_PUBLIC_APPWRITE_DATABASE_ID=default

EXPO_PUBLIC_APPWRITE_USERS_COLLECTION_ID=user
EXPO_PUBLIC_APPWRITE_STORES_COLLECTION_ID=store
EXPO_PUBLIC_APPWRITE_ORDERS_COLLECTION_ID=order
EXPO_PUBLIC_APPWRITE_DISCOUNTS_COLLECTION_ID=discounts
EXPO_PUBLIC_APPWRITE_LOYALTY_CARDS_COLLECTION_ID=loyalty_cards

EXPO_PUBLIC_APPWRITE_PLATFORM=com.qwuik.pos
